<header>
  <nav>
    <ul>
      <li class="menu"><a href="/profile/{{users.id}}" class="profileLogout" style="font-size: 1.3rem;">PROFILE</a></li>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li>
      <li class="menu"><a href="/auth/logout" class="profileLogout" style="font-size: 1.3rem;">LOGOUT</a></li>
    </ul>
  </nav>
</header>

{{!-- ////////////////////////////////////////////////////////////// --}}

<div class="card text-center">
  {{!-- title --}}
<div class="card-header d-flex justify-content-center">
<h2>IRONHACKERS</h2>
</div>

{{!-- body --}}
 <div class="card-body d-flex flex-wrap justify-content-center">
  <div class="col-sm-9 row d-flex justify-content-around" style="width: 95%">

  {{!-- cards --}}

<br>

{{#each users as |user|}}
<div class="card text-center border-info profileCard" style="width: 17rem; height:30rem; min-width:17rem; min-height:25rem; max-width: 20rem;  max-height:30rem; margin: 4% 0 0 0;">

{{!-- img --}}
<div class="card">
  <div class="hex" style="background-image: url({{user.profileImg}});">
    <div class="corner-1"></div>
    <div class="corner-2"></div>
  </div>
     {{#if @root.admin}}
      <a class="text-center" href="/ih/deleteProfile/{{user._id}}">Delete profile</a>
     {{/if}}


</div>

{{!-- name --}}
  <div class="card-body">
    <h1 class="card-title">
      <a href="/profile/{{user._id}}">{{user.name}}</a>
    </h1>
  </div>
</div>
{{/each}}

<br>

  </div>
 </div>
<br>
</div>

