<h style="font-size: 27px;">Edit your profile</h><br>
<p>All the information will be public, so add only the information you want other Ironhackers to see.</p>

<section class="editContainer">


<form action="/editProfile/{{user._id}}" method="POST" enctype="multipart/form-data">

{{!-- username --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Username</span>
  </div>
  <input type="text" class="form-control" placeholder="NedStark123" name="username" value="{{user.username}}">
</div>

{{!-- name --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Complete Name</span>
  </div>
  <input type="text" class="form-control" placeholder="Ned Stark" name="name" value="{{user.name}}">
</div>

{{!-- age --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Age</span>
  </div>
  <input type="number" class="form-control" placeholder="45" name="age" value="{{user.age}}">
</div>

{{!-- current job --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Current Job</span>
  </div>
  <input type="text" class="form-control" placeholder="Guardian of the North" name="currentJob" value="{{user.currentJob}}">
</div>

{{!-- profile picture --}}
  <input type="file" name="profileImg" value="{{user.profileImg}}"/>



<h3>Social Media</h3>

{{!-- twitter --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Twitter</span>
  </div>
  <input type="text" class="form-control" placeholder="www.twitter.com/NedStark123" name="twitter" value="{{user.twitter}}">
</div>

{{!-- linkedin --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">LinkedIn</span>
  </div>
  <input type="text" class="form-control" placeholder="www.linkedin.com/in/ned-stark123/" name="linkedin" value="{{user.linkedin}}">
</div>

{{!-- github --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">GitHub</span>
  </div>
  <input type="text" class="form-control" placeholder="www.github.com/nedstark" name="github" value="{{user.github}}">
</div>

{{!-- facebook --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Facebook</span>
  </div>
  <input type="text" class="form-control" placeholder="www.facebook.com/nedstark" name="facebook" value="{{user.facebook}}">
</div>

{{!-- codewars --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">CodeWars</span>
  </div>
  <input type="text" class="form-control" placeholder="www.codewars.com/users/nedstark" name="codewars" value="{{user.codewars}}">
</div>

{{!-- instagram --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Instagram</span>
  </div>
  <input type="text" class="form-control" placeholder="www.instagram.com/nedstark/" name="instagram" value="{{user.instagram}}">
</div>

<h3>My IronProjects</h3>

{{!-- project 1 --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Project 1</span>
  </div>
  <input type="text" class="form-control" placeholder="Game Project" name="project1" value="{{user.project1}}">
</div>

{{!-- project 2 --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Project 2</span>
  </div>
  <input type="text" class="form-control" placeholder="Structure Project" name="project2" value="{{user.project2}}">
</div>

{{!-- project 3 --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Project 3</span>
  </div>
  <input type="text" class="form-control" placeholder="Final Project" name="project3" value="{{user.project3}}">
</div>

  <input type="submit" value="Create">
</form>
</section>