<header>
  <nav>
    <ul>
      <li class="menu"><a href="#"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li></a>
      <li class="menu"><a href="/auth/logout" class="profileLogout" style="font-size: 2rem;">LOGOUT</a></li>
    </ul>
  </nav>
</header>

{{!-- /////////////////////// --}}

<div class="card text-center">

{{!-- edit profile --}}
<div class="card-header d-flex justify-content-center">

<div class="card bg-light border-info w-75 bg-light">
    <h1>Edit your profile</h1><br>

    <h5 class="card-subtitle">All the information will be public, 
      so add only the information you want other Ironhackers to see.</h5>
</div>
</div>
  
  <div class="card-body d-flex justify-content-center">

<div class="card border-info w-75">

{{!-- card body --}}
<br>
  <div class="card-body d-flex justify-content-center">
    
<form action="/editProfile/{{user._id}}" method="POST" enctype="multipart/form-data">

{{!-- username --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">username</span>
  </div>
  <input type="text" class="form-control" placeholder="NedStark123" name="username" value="{{user.username}}">
</div>

{{!-- name --}}
<div class="input-group mb-3" style="width: 70rem;">
  <div class="input-group-prepend">
    <span class="input-group-text">Complete Name</span>
  </div>
  <input type="text" class="form-control" placeholder="Ned Stark" name="name" value="{{user.name}}">
</div>

{{!-- age --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Age</span>
  </div>
  <input type="number" class="form-control" placeholder="45" name="age" value="{{user.age}}">
</div>

{{!-- current job --}}
<div class="input-group mb-5">
  <div class="input-group-prepend">
    <span class="input-group-text">Current Job</span>
  </div>
  <input type="text" class="form-control" placeholder="Guardian of the North" name="currentjob" value="{{user.currentjob}}">
</div>

{{!-- profile picture --}}
<div class="card-body d-flex justify-content-center">
<div class="card text-center mb-5" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Upload your Profile Picture:</h5>
  <input type="file" name="profileImg" value="{{user.profileImg}}"/>
  </div>
</div>

</div>



<h3>Social Media</h3>

{{!-- twitter --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Twitter</span>
  </div>
  <input type="text" class="form-control" placeholder="www.twitter.com/NedStark123" name="twitter" value="{{user.twitter}}">
</div>

{{!-- linkedin --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">LinkedIn</span>
  </div>
  <input type="text" class="form-control" placeholder="www.linkedin.com/in/ned-stark123/" name="linkedin" value="{{user.linkedin}}">
</div>

{{!-- github --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">GitHub</span>
  </div>
  <input type="text" class="form-control" placeholder="www.github.com/nedstark" name="github" value="{{user.github}}">
</div>

{{!-- facebook --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Facebook</span>
  </div>
  <input type="text" class="form-control" placeholder="www.facebook.com/nedstark" name="facebook" value="{{user.facebook}}">
</div>

{{!-- codewars --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">CodeWars</span>
  </div>
  <input type="text" class="form-control" placeholder="www.codewars.com/users/nedstark" name="codewars" value="{{user.codewars}}">
</div>

{{!-- instagram --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Instagram</span>
  </div>
  <input type="text" class="form-control" placeholder="www.instagram.com/nedstark/" name="instagram" value="{{user.instagram}}">
</div>

<h3>My IronProjects</h3>

{{!-- project 1 --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Project 1</span>
  </div>
  <input type="text" class="form-control" placeholder="Game Project" name="project1" value="{{user.project1}}">
</div>

{{!-- project 2 --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Project 2</span>
  </div>
  <input type="text" class="form-control" placeholder="Structure Project" name="project2" value="{{user.project2}}">
</div>

{{!-- project 3 --}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Project 3</span>
  </div>
  <input type="text" class="form-control" placeholder="Final Project" name="project3" value="{{user.project3}}">
</div>

{{!-- button --}}
<button type="submit" class="btn btn-outline-primary" value="Create">Go to my Profile</button>

</form>

  </div>
</div>



  </div>
  <div class="card-footer text-muted">
    Welcome to Ironhack
  </div>
</div>

