<h2>Welcome to your profile</h2>
<header>
  <nav>
    <ul>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 9vh;"></li>
      <li class="menu"><a href="/logout" class="profileLogout">LOGOUT</a></li>
    </ul>
  </nav>
</header>

{{#each user as |profile|}}
<p>{{profile.name}}</p>
<p>{{profile.username}}</p>
<p>{{profile.age}}</p>
<p>{{profile.currentJob}}</p>
<hr>
<a href="{{profile.twitter}}">{{profile.twitter}}</a>
<a>{{profile.linkedin}}</a>
<p>{{profile.github}}</p>
<p>{{profile.facebook}}</p>
<p>{{profile.codewars}}</p>
<p>{{profile.instagram}}</p>

{{/each}}


<div class="hex" style="background-image: url(https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg);">		
		
	<div class="corner-1"></div>
	<div class="corner-2"></div>		
</div>

<a href="/editProfile/{{user._id}}">Edit profile</a>