<header>
  <nav>
    <ul>
      <li class="menu"><a href="#"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li></a>
      <li class="menu"><a href="/logout" class="profileLogout" style="font-size: 2rem;">LOGOUT</a></li>
    </ul>
  </nav>
</header>

</header>


<section class="d-flex flex-row">

{{!-- Profile data container --}}
<aside class="profileContainer">

  <section class="d-flex flex-column justify-content-between align-items-center ">

{{!-- Hex Img --}}
<div>
{{!-- <img src="{{user.profileImg}}" class="profileImg"> --}}
<div class="hex" style="background-image: url({{user.profileImg}});">		
		
	<div class="corner-1"></div>
	<div class="corner-2"></div>
  
</div>
	
<hr>

<h1 id="profileUsername">Welcome, {{user.username}}</h1>
<br>
<p><strong>Complete name: </strong>{{user.name}}</p>
<p><strong>e-mail: </strong>{{user.email}}</p>
<p><strong>Age: </strong>{{user.age}}</p>
<p><strong>Current Job: </strong>{{user.currentJob}}</p>
<p><strong>Ironhacker: </strong>{{user.role}}</p>
<br>
<br>
</div>
{{#if user.editPermision}}
<a href="/editProfile/{{user._id}}" class="btn btn-outline-dark btn-sm">Edit profile</a>
{{/if}}
  </section>

</aside>

{{!-- Social Media column bar --}}
<section class="socialMedia d-flex flex-column justify-content-center align-items-center">



<a href="{{user.github}}"><img class="smLogos" src="https://dl.dropboxusercontent.com/s/x1i5ovofrkio6eb/githubLogo.png?dl=0" alt=""></a>
<a href="{{user.codewars}}"><img class="smLogos" src="https://dl.dropboxusercontent.com/s/eb8b8fjtsd2qun8/codewarsLogo.png?dl=0" alt=""></a>
<a href="{{user.linkedin}}"><img class="smLogos" src="https://dl.dropboxusercontent.com/s/y7vi2s85k0ur1rk/linkedinLogo.png?dl=0" alt=""></a>
<a href="{{user.facebook}}"><img class="smLogos" src="https://dl.dropboxusercontent.com/s/9o0l2ujwhskvycs/facebookLogo.png?dl=0" alt=""></a>
<a href="{{user.instagram}}"><img class="smLogos" src="https://dl.dropboxusercontent.com/s/de3wvulto0tdffz/instagramLogo.png?dl=0" alt=""></a>
<a href="{{user.twitter}}"><img class="smLogos" src="https://dl.dropboxusercontent.com/s/i63povadpvrjnco/twitterLogo.png?dl=0" alt=""></a>

</div>

</section>


{{!-- <form>
  <a href="{{user.project1}}">Project 1</a>
  <a href="{{user.project2}}">Project 2</a>
  <a href="{{user.project3}}">Project 3</a>
</form>
 --}}
<aside>

          <p><a href="/agora">AGORA</a></p>
          <p><a href="/ih/profiles">IRONHACKERS</a></p>
          <p><a href="/eduRes">EDUCATIVE RESOURCES</a></p>
            <img src="https://dl.dropboxusercontent.com/s/e51gu9hk2hr7coo/IMG_20190415_184226_101.jpg?dl=0">



</aside>

</section>


<br>

