<h2>Wellcome to your profile</h2>
{{!-- <header>
<img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 9vh;">

</header> --}}
<div>
{{#each user as |profile|}}
<img src="{{profile.profileImg}}" width="200">
<br>
<span>{{profile.name}}</span>

<p>{{profile.username}}</p>
<p>{{profile.age}}</p>
<a href="{{profile.twitter}}">{{profile.twitter}}</a>
<a href="{{profile.linkedin}}">{{profile.linkedin}}</a>
<a href="{{profile.github}}">{{profile.github}}</a>
<a href="{{profile.facebook}}">{{profile.facebook}}</a>
<a href="{{profile.codewars}}">{{profile.codewars}}</a>
<a href="{{profile.instagram}}">{{profile.instagram}}</a>
<form>
  <a href="{{profile.project1}}">{{profile.project1}}</a>
  <a href="{{profile.project2}}">{{profile.project2}}</a>
  <a href="{{profile.project3}}">{{profile.project3}}</a>
</form>
{{/each}}
</div>

<a href="/eduRes">Educative Resources</a>
<a href="/profiles">Ironhackers</a>

 <a href="/logout">Logout</a>

{{!-- <div class="hex" style="background-image: url(https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg);">		
		
	<div class="corner-1"></div>
	<div class="corner-2"></div>		
</div> --}}
<br>
<a href="/editProfile/{{user._id}}">Edit profile</a>

