<header>
  <nav>
    <ul>
         <li class="menu"><a href="/profile/{{posts.id}}" class="navButtons" id="agora__index__li__profile">PROFILE</a></li>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" id="agora__index__li__ironhack"></li>
      <li class="menu"><a href="/auth/logout" class="navButtons" id="agora__index__li__profile">LOGOUT</a></li>
    </ul>
  </nav>
    <div class="navColorDiv"></div>
</header>

</header>
<h1  id="agora__h1" class="text-center">AGORA</h1><br>
<h5 id="agora__h5">Wellcome to the Agora Space, in this place you can post your doubts, curiosities or anything related with the world of programming. Our rules are not strict, but respect is essential. You make agora a better place, have fun!</h5>
<hr>
<a href="/agora/post" id="agora__new_post">ADD A NEW POST</a>

{{#each posts as |post|}}
<div class="card" id="agora__div__post1">
  <div class="card-header" id="agora__div__post2">
    <div class="row">
      <div class="col-sm-1">
        <img id="agora__img__profile" src="{{post.userId.profileImg}}" width="100%"/>
      </div>
      <div class="col-sm-4">
          <a id="agora__a__username" href="/profile/{{post.userId._id}}">{{post.userId.username}}</a>
      </div>
     {{#if @root.admin}}
      <a class="text-center" href="/agora/deletePost/{{post._id}}">Delete post</a>
     {{/if}}
    </div>
  </div>
  <div class="card-body">
    <img src="{{post.image}}" width="40%" is="agora__img__post"/><br>
    <h4 class="card-title">{{post.title}}</h4>
    <p class="card-text">{{post.content}}</p>
  </div>
</div>
</div>
{{/each}}








