<header>
  <nav>
    <ul>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li>
      <li class="menu"><a href="/auth/logout" class="profileLogout" style="font-size: 2rem;">LOGOUT</a></li>
    </ul>
  </nav>
</header>

{{!-- ////////////////////////////////////////////////////////////// --}}

<div class="card">

<div class="card-header d-flex justify-content-center">
<h1 style="font-size: 35px;">AGORA</h1><br>
<h5 class="card-subtitle">Wellcome to the Agora Space, in this place you can post your doubts, curiosities or anything related with the world of programming. Our rules are not strict, but respect is essential. You make agora a better place, have fun!</h5>
  </div>

{{!-- body --}}
 <div class="card-body d-flex flex-column justify-content-center">

<a href="/profile/{{posts.userID}}">Go back to your profile</a>
<br>
<a href="/agora/post">ADD A NEW POST</a><br><br>

{{!-- posts --}}
{{#each posts as |post|}}
<div class="card w-50 mb-3">
   <div class="card-header row">
     <div>
       <img src="{{post.userId.profileImg}}" width="90px"/><a href="/profile/{{post.userId._id}}">{{post.userId.username}}</a><br><br>
      </div>
    <div>
<h1>{{post.title}}</h1>
    </div>
</div>
<p>{{post.content}}</p>
<img src="{{post.image}}" width="400"/><br>
</div>
{{/each}}


</div>
</div>




