<header>
  <nav>
    <ul>
      <li class="menu"><a href="/profile/{{info.userID}}" class="navButtons" style="font-size: 1.3rem;">PROFILE</a></li>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li>
      <li class="menu"><a href="/auth/logout" class="navButtons" style="font-size: 1.3rem;">LOGOUT</a></li>
    </ul>
  </nav>
</header>

{{!-- ////////////////////////////////////////////////////////////// --}}


<div class="card">
  {{!-- title --}}
<div class="card-header d-flex flex-column justify-content-center">
<h1 class="text-center">{{info.name}}</h1>

{{!-- body --}}
<div class="card-body d-flex flex-column">


<ul class="card border-info">
<a class="list-group-item list-group-item-action list-group-item-light text-center" style="font-size: 1.5rem;" href="/learnings/{{info._id}}">LEARNINGS</a>
<a class="list-group-item list-group-item-action list-group-item-light text-center" style="font-size: 1.5rem;" href="/extraRes/{{info._id}}">EXTRA RESOURCES</a>
<a class="list-group-item list-group-item-action list-group-item-light text-center" style="font-size: 1.5rem;" href="/newExtraRes/{{info._id}}">ADD AN EXTRA RESOURCE</a>
</ul>


</div>
</div>
  </div>
</div>



